.git
.github
.next
node_modules
out
coverage

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

artifacts
cache
typechain-types
.turbo
.cache
*.tsbuildinfo

private-resources
branding/option4_only.png
